#about-book{
	background:url(../images/flare-bg.jpg)no-repeat center top;
	background-size:cover;
	width:100%;
	padding:70px 0 0;
	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
		padding:70px 0 30px;
	}
	@media screen and (max-width: $screen-sm-min){
		padding:70px 0 30px;
	}
	.wrapper{
		text-align:center;
		background:#f9ffe8;
		border-top:5px solid $green;
		min-height:590px;
		@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
			min-height:630px;
		}
		@media screen and(min-width: $screen-sm-min) and (max-width: $screen-sm-max){
			min-height:640px;
		}
		@media screen and (max-width: $screen-sm-max){
			min-height:610px;
		}
		@media screen and (max-width:480px){
			min-height:500px;
		}
		h2{
			padding:60px 0 40px;
			font-weight:bold;
			span{
				color:$green;
			}
			@media screen and (max-width:480px){
				font-size:35px;
			}
		}
		.img-cont{
			position:absolute;
			@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
				width:440px;
			}
			@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
				width:350px !important;
			}
			@media screen and (max-width:$screen-sm-max){
			    width: 400px;
    			display: block;
    			margin: 0 auto;
    			left: 0;
    			right: 0;
			}
			@media screen and (max-width:480px){
				width:265px;
			}

		}
	}
	.text-cont{
		padding:40px 0 0;
		@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
			padding:0;
		}
		@media screen and (max-width: $screen-sm-max){
			text-align:center;
		}
	}
}