#contact{
	background:url(../images/contact-bg.jpg)no-repeat center top;
	background-size:cover;
	padding:70px 0;
	.text-cont{
		@media screen and (max-width:$screen-xs-max){
			text-align:center;
		}
		h2{
			font-weight:bold;
			padding:0 0 40px;
			color:$white;
			@media screen and (min-width:$screen-sm-min) and (max-width: $screen-sm-max){
				font-size:35px;
			}
			@media screen and (max-width:$screen-xs-max){
				font-size:35px;
			}
			span{
				color:#7aa243;
			}
		}
		p{
			color:$white;
		}
		ul{
			padding:20px 0 0;
			@media screen and (max-width:$screen-xs-max){
				padding:20px 0 30px;
			}
			li{
				display:inline-block;
				list-style:none;
				margin:0 10px 0 0;
				a{
					position:relative;
					text-align:center;
					height:65px;
					width:65px;
					line-height:65px;
					font-size:30px;
					color:$white;
					display:inline-block;
					background: -moz-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* ff3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(104,126,55,1)), color-stop(100%, rgba(34,66,18,1))); /* safari4+,chrome */
					background: -webkit-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* safari5.1+,chrome10+ */
					background: -o-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* opera 11.10+ */
					background: -ms-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* ie10+ */
					background: linear-gradient(0deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* w3c */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#687e37', endColorstr='#224212',GradientType=0 ); /* ie6-9 */
					border-radius:50%;
					&:hover{
						background:$green;
						color:$yellow;
					}
				}
			}
			.goodreads{
				i{
					text-decoration: none;
	   				font-style: normal;
	   				position: relative;
	   				display: inline-block;
	   				top:-4px;
				}
			}
		}
	}
	form{
		input[type="text"],
		input[type="email"],
		textarea{
			height:60px;
			width:100%;
			padding: 15px 30px;
    		box-sizing: border-box;
    		margin: 0 0 10px;
    		border: 1px solid #47453f;
    		border-radius:5px;
    		&:focus{
				box-shadow:0 0 11px #ccc inset;
				outline:none;			
			}
		}
		textarea{
			height:250px;			
		}		
		input[type="checkbox"] {
			width:20px;
			visibility: hidden;
			display:inline-block;
			vertical-align: middle;
			margin:0;
			height:20px;
		}
		label {
			display:inline-block !important;
			position:relative;
			vertical-align: middle;
			padding:0 0 0 5px;
			color:$white !important;
			margin:0 !important;
			font-weight:normal;
			&:before {
				position:absolute;
				left:-23px;
				top:0;
				content:' ';
				width:20px;
				height:20px;
				border:1px solid $white;
				border-radius:3px;
			}
		}
		input[type="checkbox"]:checked + label:before {
			content: "\f00c"; 
			color:$white;
			font-family:FontAwesome;
			text-align:center;
			line-height: 19px;
	    	font-size: 12px;
		}
		.check-submit{
			.btn-submit{
				display:inline-block;
				float:right;
				input{
					background: -moz-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* ff3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(104,126,55,1)), color-stop(100%, rgba(34,66,18,1))); /* safari4+,chrome */
					background: -webkit-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* safari5.1+,chrome10+ */
					background: -o-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* opera 11.10+ */
					background: -ms-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* ie10+ */
					background: linear-gradient(0deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* w3c */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#687e37', endColorstr='#224212',GradientType=0 ); /* ie6-9 */
				    border: 2px solid #fff;
				    border-radius: 5px;
				    height: 60px;
				    width: 150px;
				    color: #fff;
				    font-size: 18px;
				    font-weight: bold;
				    font-family:$bitter;
				    &:hover{
				    	background:$green;
				    	color:$yellow;
				    }
				    &:focus{
				    	outline:none;
				    	color:$white;
				    	background: -moz-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* ff3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(104,126,55,1)), color-stop(100%, rgba(34,66,18,1))); /* safari4+,chrome */
						background: -webkit-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* safari5.1+,chrome10+ */
						background: -o-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* opera 11.10+ */
						background: -ms-linear-gradient(90deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* ie10+ */
						background: linear-gradient(0deg, rgba(34,66,18,1) 0%, rgba(104,126,55,1) 100%); /* w3c */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#687e37', endColorstr='#224212',GradientType=0 ); /* ie6-9 */
				    }
				}
			}
		}
	}
}